<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.ihandy.jobschedulerdemo">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <service
            android:name=".ExerciseIntentService"
            android:exported="false">
        </service>

        <receiver
            android:name=".ExerciseRequestsReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <service
            android:name=".ExerciseJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
    </application>

</manifest>